<% content_for(:header) do %>
  What happened?
<% end %>

<%= render :partial => "settings/sub_menu" -%>

<p>
  The log files can be found in 'log/scraper.log', they are rotated every day. Below is today's log.
</p>

<textarea style="width:100%;" rows="30">
<%= File.read("log/scraper.log").split(/\r?\n/).reverse.join("\n") -%>
</textarea>