<div id="advanced_options" style="display:none">
  
  Some sources might require some advanced options to get them working.
  Enter options in the following format: 
  
  <blockquote class="variable">option:"value"</blockquote>
  
  Seperate each option with a newline, you can specify the following options:      
  
  <table>
    <tr>
      <td class="variable">rss_parse_field</td>
      <td>What part of the rss content should we parse? Value can be either title or link.</td>
    </tr>
    <tr>
      <td class="variable">rss_replace_in_link</td>
      <td>Some rss streams need a simple replace to get to the torrent file. Specify the value using a comma seperator: "needle,replacement"</td>
    </tr>          
  </table>

</div>