body {
	font-family: "Myriad Pro", "Helvetica Neue";
	background-image: url('/images/wrapper.png');
	background-repeat: repeat-x;
	background-position: 0px -250px;
	padding: 0px 30px 0px 20px;
	line-height: 130%;
}

p {
	color: #585858;
}

a {
	color: #39c;
	cursor: pointer;
}
 
a:focus,
a:hover {
	text-decoration: underline;
}
 
a:active {
	color: #069;
}

.enabled {
	font-weight: bold;
	color: darkgreen;	
}

.disabled {
	font-weight: bold;
	color: crimson;
}

#header {
	height: 100px;
	line-height: 80px;
	font-size: 30pt;
	margin: 0px 0px 30px 0px;	
	color: white;
	text-shadow: black 1px 1px 1px;
}

#sub_menu {
	list-style: none;
	padding: 0px;
	position: absolute;
	right: 30px;
	top: 89px;
	color: #ccc;
}

#sub_menu li {
	display: inline-block;
}

#main_menu {
	list-style: none;
	position: absolute;
	right: 30px;
	top: 50px;
	padding: 0px;
	margin: 0px;
	color: #ccc;
}

#main_menu li a {
	text-decoration: none;
	color: white;
}

#main_menu .selected a {
	color: black;
}

#main_menu .selected {
	background: #E2E2E2;
	padding-bottom: 12px;
	opacity: 1.0;
}

#main_menu .selected:hover {
	opacity: 1.0;
}

#main_menu li:hover {
	opacity: 0.8;
}

#main_menu li {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 10px;
	margin-left: 5px;
	background : #5F5F5F;
	opacity: 0.5;
	display: inline-block;
}

.comment {
	color: #6F6F6F;
}

.variable {
	font-family: 'Courier New';
	font-size: 10pt;
}

.label {
	font-family: 'Courier New';
	font-weight: bold;
	background: #FDFFE5;
}

blockquote {
	margin: 10px 0px 10px 10px;
	background: #F2F2F2;
	border: 1px solid #ddd;
	padding: 5px;
}

small {
	color: #999;
	font-size: 10pt;
}

pre {
	background: #F2F2F2;
	border: 1px solid #ddd;
	padding: 10px;
}

.input_table { width: 100%; }
.input_table td { padding: 10px; vertical-align: top;}

.input_table th { 
	font-size: 16pt; 
	text-align: left; 
	padding: 10px 10px 10px 10px; 
	vertical-align: middle; 
	border-bottom: 1px solid #ddd;
}

.settings_table { width: 100%; }
.settings_table td { padding: 4px; }
.settings_table th { text-align:left; }

.data_files_table { width: 100%; }
.data_files_table td { padding: 4px; }

.sources_table { width: 100%; }
.sources_table td { padding: 4px; }

.data_types_table { width: 100%; }
.data_types_table td { padding: 4px; }
.data_types_table th { text-align: left; }

.even { background: #F2F2F2; }
.odd {}

.data_files_table { width: 100%; }
.data_files_table td { padding: 4px; }

.data_file_filter_table { width: 100%; }
.data_file_filter_table td { padding: 4px; border-bottom: 2px solid #fff;}
.data_file_filter_table th { text-align: left; }

.recognized, .positive_filter { 
	background: #F2F2F2; 
	border-bottom: 1px solid #ddd; 
}

.not_recognized, .negative_filter { 
	background: #FFD2DA; 
	border-bottom: 1px solid #ddd;
}

.accepted { background-color: #DEFFBC; }
.rejected { background-color: #D71930; }
.no_match { }

.right {
	float: right;
	clear: both;
}

.remove_link {
	color: crimson;
}

.remove_link:hover {
	text-decoration: none;
}

.button {
	display:-moz-inline-box;
	display:inline-block;
	text-align: center;
	padding: 5px 15px 5px 15px;
	background: #eee;
	border: 1px solid #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background:	-webkit-gradient(linear, left bottom, left top, from(#ddd), color-stop(1, #fff));
	-webkit-box-shadow: 0px 0px 3px #aaa;
	-moz-box-shadow: 0px 0px 3px #aaa;
	cursor:pointer;
}

.button input {
	background: none;
	border: none;
	font-size: 12pt;
	color: #494949;
	cursor:pointer;
}

.button:hover {
	-webkit-box-shadow: 0px 0px 5px #6A8BC4;	
	-moz-box-shadow: 0px 0px 5px #6A8BC4;	
}

.button a {
	color: #494949;
	text-decoration: none;
}

fieldset {
	border: 1px solid #ddd;
}

input[type='text'],textarea {
	border: 1px solid #ddd;
	outline: 0;
	padding: 5px;
	width: 100%;
}

textarea {
	font-family: "Courier New";
	background: url('/images/input_back.jpg');
	background-position: top;
	background-repeat: repeat-x;
}

input[type='text'] {
	background: url('/images/input_back.jpg');
	font-size: 16pt;
}