<% if @data_files.empty? %>

<div class="content">
  <h2>Oops, no downloads!</h2>
  <p>
    Head over to <%= link_to "filters", data_file_filters_path -%> and provide BagelBox with stuff you want and wait for it to come on in!
  </p>
</div>

<% else %>
<div class="content">
  <p style="text-align:center;">
    Last 10 downloaded files.
  </p>
</div>
<table class="data_files_table" cellspacing="0" cellpadding="0">
<% @data_files.each do |data_file| %>
  <tr>
    <td>
      <%= data_file.filename[0..47] %>
      <br/>
      <small>
      <% if data_file.failed %>
        <span style="color:crimson;">FAILED</span> <%= link_to "Retry?", download_data_file_path(data_file) -%>
      <% elsif data_file.downloading %>
        Downloading since <%= time_ago_in_words(data_file.updated_at) %> ago
      <% elsif data_file.downloaded %>
        Completed
      <% else %>
        Queued
      <% end %>
      </small>
    </td>
  </tr>
<% end %>
</table>

<% end %>