<% if @data_files.empty? %>

<div class="content">
  <h2>Oops, no downloads!</h2>
  <p>
    Head over to <%= link_to "filters", data_file_filters_path -%> and provide BagelBox with stuff you want and wait for it to come on in!
  </p>
</div>

<% else %>

<table class="data_files_table" cellspacing="0" cellpadding="0">
<% @data_files.each do |data_file| %>
  <tr>
    <td nowrap="nowrap">
      <%= link_to data_file.filename[0..47], "#", :class => "edit_link" %>
      <br/>
      <center>
        <% if data_file.downloaded_at %>
          <small>
            Downloaded <%= time_ago_in_words(data_file.downloaded_at) -%> ago
          </small>
        <% else %>
          <%= link_to("Download now", download_data_file_path(data_file) ) %>
        <% end %>
      </center>
    </td>
  </tr>
<% end %>
</table>

<% end %>