<div style="padding: 0px 20px 0px 20px;">
  
  <h2>Ready to get started?</h2>
  <p>
    Welcome to the BagelBox for iPhone. 
  </p>
  <p>
    From this simplified interface you can 
    easily add new filters and see what BagelBox downloaded.
  </p>
  <p>
    <%= link_to "Add a new filter", "#", :class => "add_link" %>
  </p>  
  <p>
    Don't feel this interface? Try the <%= link_to "regular interface", "/?format=html" -%> instead!
  </p>

</div>