<div class="content">
  <p style="text-align:center;">
    Only manually added filters are shown.
  </p>
</div>
<table class="data_files_table" cellspacing="0" cellpadding="0">
<% @manually_added_filters.each do |data_file_filter| %>
  <tr>
    <td>
      <%= data_file_filter.name[0..44] %>
      <br/>
      <%= link_to "Edit this filter", edit_data_file_filter_path(data_file_filter) %>
    </td>
  </tr>
<% end %>
</table>